# Git and RStudio files
.git/
.gitignore
.Rproj
.Rproj.user/

# ignore renv library - this is rebuilt inside the container
/renv/library/

# ignore raw data and results
/data/rawfiles/raw/
/data/expfiles/
/results/
/ChiHOPE/

# ignore R history file
.Rhistory
.DS_Store

# ignore any other files
*.csv
*.zip
*.xlsx
*.pdf
*.log

# ignore some scripts
/data.zip
/results.zip
/x_tables.R
/x_figures.R